@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #2c3333;
  --secondary-color: #393e46;
  --yellow-color: #ffd369;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--yellow-color);
}

::-webkit-scrollbar-thumb {
  background: #222831;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  scroll-margin-inline-start: 10rem;
}
a {
  text-decoration: none;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  width: 100%;
  position: relative;
  padding: 1rem;
  z-index: 999;
  position: fixed;
  overflow: hidden;
}
header h3 {
  color: var(--yellow-color);
  margin: 0;
  font-size: 2rem;
  padding: 0 3rem;
  cursor: pointer;
  width: 100%;
}

.dark-mode {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  margin: left 2rem;
  padding: 1rem;
  font-size: 20px;
  border: none;
}

.search {
  background-color: transparent;
  border: 3px solid var(--yellow-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--yellow-color);
}

.search::placeholder {
  color: var(--yellow-color);
  opacity: 0.7;
}

.search:focus {
  outline: none;
  color: var(--yellow-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 6rem 3.5rem;
}

.movie {
  width: 300px;
  height: 550px;
  margin: 1rem;
  background-color: var(--yellow-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border-radius: 10px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: var(--primary-color-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
  font-size: 1rem;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.8rem;
  border-radius: 16px;
  width: 64px;
  position: absolute;
  right: 0;
  top: 480px;
  text-align: center;
  font-weight: bold;
  margin: 1rem;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: var(--yellow-color);
  border-radius: 10px;
  padding: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: 0.5s;
  cursor: context-menu;
}

.movie:hover .overview {
  transform: translateY(0);
}

.active-main {
  background-color: #bbbfca;
}

.active-navbar {
  background-color: #495464;
}

.active-movie {
  background-color: #b2b2b2;
}

.up {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
  color: var(--primary-color);
  background-color: var(--yellow-color);
}

@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    padding-top: 1rem;
  }
  .search {
    background-color: transparent;
    border: 3px solid var(--yellow-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: var(--yellow-color);
    width: 391px;
  }
  main {
    padding: 2rem 3.5rem;
  }
  .dark-mode {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--yellow-color);
  }
}

@media (max-width: 520px) {
  header h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  #form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    padding-top: 1rem;
    font-size: 1rem;
  }
  .search {
    background-color: transparent;
    border: 3px solid var(--yellow-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--yellow-color);
    width: 391px;
  }
  main {
    padding: 2rem 3.5rem;
  }
  a,
  i {
    font-size: 20px;
  }
  .dark-mode {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 15px;
    bottom: 15px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--yellow-color);
  }
  .up {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--yellow-color);
  }

  .movie {
    width: 200px;
    height: 300px;
    font-size: 12px;
  }
  .overview {
    text-align: center;
    padding: 0.3rem;
  }
  .movie-info {
    display: none;
  }
}

@media (max-width: 380px) {
  .movie {
    font-size: 10px;
  }
}

@media (max-width: 345px) {
  .movie {
     width: 176px;
    height: 264px;
  }
}

